head{
  display: none;            
  position: absolute;           /* position in relation to body */
  top: 50%;                     /* push down halfway */
  left: 50%;                    /* push right halfway */
  transform: translate(-50%, -50%); /* perfectly center */
  flex-direction: column;     
  align-items: center;      
  gap: 10px;                
  padding: 20px;
}

body{
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  margin: 0;               
  text-align: center;   
  background-color: lightgreen;
}