<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/sunIcon.png') }}">
    <title>Soliel: Space Weather Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>
<body>
  <div class="wrapper">

    <header>
      <img src="{{ url_for('static', filename='img/starfield1.jpg') }}" class="background">
      <img src="{{ url_for('static', filename='img/starfield2.png') }}" class="foreground">
      <h1 class="title">Welcome to Soliel!</h1>
      <div class="queueSlot"></div>
    </header>
  </div>
</body>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</html>